services:
  test_chrome:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: chrome_use_cases
    cpus: '1.0'
    mem_limit: 4g
    healthcheck:
      test: ["CMD", "test", "-f", "/app/reports/chrome-report.html"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    volumes:
      - ./reports:/app/reports
      - ./logs:/app/logs
      - ./test_data:/app/test_data
    environment:
      - PYTHONPATH=/app
      - PYTEST_ADDOPTS=--strict-markers --strict-config --slowmo 1000 --self-contained-html --base-url https://demo.automationtesting.in
      - DISPLAY=:99
      - BROWSER_NAME=Chrome
      - PLAYWRIGHT_BROWSERS_PATH=/ms-playwright
      - PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=1
    command: >
      sh -c "
        echo 'Starting Automation Tests on Chrome...' &&
        Xvfb :99 -screen 0 1024x768x24 &
        export DISPLAY=:99 &&
        pytest tests/test_automation_flow.py -v --disable-warnings --html=reports/chrome-report.html --browser chromium
      "

  tests_firefox:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: firefox_use_cases
    cpus: '1.0'
    mem_limit: 4g
    healthcheck:
      test: ["CMD", "test", "-f", "/app/reports/firefox-report.html"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 30s
    volumes:
      - ./reports:/app/reports
      - ./logs:/app/logs
      - ./test_data:/app/test_data
    environment:
      - PYTHONPATH=/app
      - PYTEST_ADDOPTS=--strict-markers --strict-config --slowmo 1000 --self-contained-html --base-url https://demo.automationtesting.in
      - DISPLAY=:99
      - BROWSER_NAME=Firefox
      - PLAYWRIGHT_BROWSERS_PATH=/ms-playwright
      - PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD=1
    command: >
      sh -c "
        echo 'Starting Automation Tests on Chrome...' &&
        Xvfb :99 -screen 0 1024x768x24 &
        export DISPLAY=:99 &&
        pytest tests/test_automation_flow.py -v --disable-warnings --html=reports/chrome-report.html --browser firefox
      "
